.search {
  display: flex;
  gap: 0.5rem;

  border-radius: 0.5rem;
  padding: 0.5rem;

  background-color: rgba(225, 241, 255, 0.25);
}

.search .search__label {
  display: block;
}

.search .search__input {
  border: none;
  border-radius: 0;
  padding: 0;

  outline: none;

  background-color: transparent;
  color: white;
}

.search .search__input::placeholder {
  color: white;
}